.cancel{
    margin-left: 5%;
    margin-top: 3%;
}
html,body{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    font-family: 'Numans', sans-serif;
}
