html,body{
background-color: #faffd1;
background-size: cover;
background-repeat: no-repeat;
height: auto;
font-family: 'Numans', sans-serif;
}
/*NAvbar */


.your {
    background-color: #000B18;
}


.Contact{
    color: white;
background: #000B18;}
.services{
    color: white;
background: #000B18;}


.id{
   margin-left: 650px;
}

.button
{
    width: 8%;
    height: 40px;
    margin:  2px;
    padding: 4px;
    float: left;
}
.text-spacing-sm {
    letter-spacing: 0.02em;
}

.bttttn
{
    width: 8%;
    height: 40px;
    margin:  4px;
    padding: 7px;
}
.btttt
{
    width: 10%;
    height: 40px;
    margin-top: 2%;
    padding: 7px;
}

.mine {
     color: black;
    background-color: white;
    border-color: white;
    /*min-width: 70px;*/
    /*max-width: 100px;*/
}

.mine:hover {
    color: black;
    background-color: #FFD662FF;
    border-color: white;
}
.img_container{

    width: 100%;
    height:50%;
    padding: 0;

}
.container-fluid{
    padding: 0px;


}
#about{
    background-image:url("../images/bus.jpg") ;
    width: 70%;
    margin-left: 15%;

}

.about {
    color: white;
    text-align: center;
    padding: 50px;
 background-color: #000B18;
  width: 100%;



}

.image-text{
    background-color: black;
    opacity: 0.5;
    padding: 20px 10px 20px 10px;
    border-radius: 25px ;
}

#services{
    background-image: url("");
}
.info{

    display: grid;
    grid-gap: 5px;
    padding: 3rem;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem;

}



#contact{

  margin-left: 50px;


}







