@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background: #BBD2C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-repeat: no-repeat;
height: auto;
font-family: 'Numans', sans-serif;
}
.btton
{
    width: 6%;
    height: 40px;
    margin:  2px;
    padding: 7px;
}
.container{
height: auto;
width: 100%;
align-content: center;
}

.card{
height: 380px;
margin-top: 5%;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;

;
}


.social_icon{
position: absolute;
right: 20px;
top: -45px;
}
.card-footer{
    height: 380px;
}
.card-footer a {
    color: white;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
/**/
.mine{
    background-color: #000B18;
}
/*card*/

input[type=submit]{

    background:#FFD662FF ;
    color: black
;
}

input[type=text]:focus,input[type=email]:focus,input[type=password]:focus{
    color: black;
    border: 3px solid #FFD662FF;
    outline: none;
}

input[type=text],input[type=email],input[type=password]{

  background: white;
  border: 1px solid #FFD662FF;
     color: black;
width: 80%;
    height: 38px;
}
