{% load static from staticfiles  %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS     -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!--apni css-->

    <link href="{% static 'css/adminprofile.css' %}" rel="stylesheet" />


    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style1.css' %}">



</head>
<body>

<marquee style="float: left" align="{mid}" direction="left" scrollamount="10" behavior="altenate" scrolldelay="50" loop="" bgcolor="white" width="50%" height="50px" onmouseover="this.stop()" onmouseout="this.start()" class="firstmarquee">
                    <p class="navtext">
                        You are the admin of the company. You have the authority of each of every thing like add new bt, new station or can add new busses.
                    </p>
                </marquee>

<marquee style="float: left" direction="up" scrollamount="" behavior="altenate" scrolldelay="50" loop="" bgcolor="white" width="50%" height="50px" onmouseover="this.stop()" onmouseout="this.start()" class="secmarquee">
                        <img src="{% static 'images/1.jpg' %}" alt="">

                        <img src="{% static 'images/3.png' %}" alt="">

                    <img src="{% static 'images/5.png' %}" alt="">
                </marquee>

<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button"  class="navbar-toggler" data-toggle="collapse" data-target="main_nav" >
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <h3 style="margin-right: 32px">
                            <a href="/adminprofile/">Admin Panel</a>
                        </h3>
                    </li>
                    <li class="nav-item">
                        <h3 style="margin-right: 32px">
                            <a href="/update/">Update</a>
                        </h3>
                    </li>
                    <li class="nav-item">
                        <h3 style="margin-right: 32px">
                            <a href="/createbt/">Creat Bt</a>
                        </h3>
                    </li>
                    <li class="nav-item">
                        <h3 style="margin-right: 32px">
                            <a href="/deletebt/">Delete Bt</a>
                        </h3>
                    </li>
                    <li class="nav-item">
                        <h3 style="margin-right: 32px">
                            <a href="/calladdthings/">Add Things</a>
                        </h3>
                    </li>
                    <li class="nav-item">
                        <h3 style="margin-right: 32px">
                            <a href="/adminsearch/">Search</a>
                        </h3>
                    </li>

                </ul>
                <span class="mr-auto"></span>
                <a class="btton btn btn-outline-primary btn-block" href="/adminprofile/">Back </a>
                <form action="/signout">
                    {%  csrf_token %}
                    <div class="form-group">
                        <input type="submit" value="Signout" class="button btn btn-outline-primary btn-block">
                    </div>
                </form>

            <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
            </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>