{% load static from staticfiles %} {% load bootstrap3 %} {% load fontawesome %}

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!--apni css-->

    <link href="{% static 'css/btbooking.css' %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" />

    <link href="{% static 'css/gijgo.min.css' %}" rel="stylesheet" />

    <link href="{% static 'fonts/gijgo-material.woff' %}" rel="stylesheet" />

    <link href="{% static 'fonts/gijgo-material.ttf' %}" rel="stylesheet" />


{#    <link href="{% static 'js/gijgo.min.js' %}" rel="stylesheet"/>#}



    <link href="{% static 'css/pe-icon-7-stroke.css' %}" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style1.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{#    <script>#}
{#        $(function() {#}
{#            $("#datepicker").datepicker();#}
{#            $("#format").on("change", function() {#}
{#                $("#datepicker").datepicker("option", "dateFormat", $(this).val());#}
{#            });#}
{#        });#}
{#    </script>#}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
</head>
<body>
<form action="/validation_code " style="margin-bottom: 0px;">

        {% csrf_token %}

        <label class="form-group" for="title" style="color:white ">First Name: </label>
        <input class="form-control" type="text" name="verifycode" value="" placeholder="">
        <br>

        <input class="btn btn-u " type="submit" value="Validate" style="width: 100%;">

    </form>
</body>
</html>