{#{% extends 'navbar.html' %}#}
{% load static from staticfiles  %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!--apni css-->

    <link href="{% static 'css/home.css' %}" rel="stylesheet" />


    <!-- Animation library for notifications   -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
{#    <link href="{% static 'css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>#}

    <!--     Fonts and icons     -->
{#    <link href="{% static 'http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'%}" rel="stylesheet">#}
{#    <link href='{% static 'http://fonts.googleapis.com/css?family=Roboto:400,700,300'%} rel="stylesheet" type="text/css ">#}
    <link href="{% static 'css/pe-icon-7-stroke.css' %}" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/slick.css' %}">

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/slick-theme.css' %}">

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style1.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css"/>

</head>

<body>
{#<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>#}
{#<script>paypal.Buttons().render('body');</script>#}

<marquee style="float: left" align="{mid}" direction="left" scrollamount="10" behavior="altenate" scrolldelay="50" loop="" bgcolor="white" width="50%" height="50px" onmouseover="this.stop()" onmouseout="this.start()" class="firstmarquee">
                    <p class="navtext">
                        You are the admin of the company. You have the authority of each of every thing like add new bt, new station or can add new busses.
                    </p>
                </marquee>

<marquee style="float: left" direction="up" scrollamount="" behavior="altenate" scrolldelay="50" loop="" bgcolor="white" width="50%" height="50px" onmouseover="this.stop()" onmouseout="this.start()" class="secmarquee">
                        <img src="{% static 'images/1.jpg' %}" alt="">

                        <img src="{% static 'images/3.png' %}" alt="">

                    <img src="{% static 'images/5.png' %}" alt="">
                </marquee>
{#<nav class="navbar navbar-inverse">#}
{#    <div class="container-fluid">#}
{#        logo#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{##}
{#            </button>#}
{#            <a class="navbar-brand">Viberr</a>#}
{#        </div>#}
{#        Items#}
{#        <div class="collapse navbar-collapse" id="topNavBar">#}
{#            <ul class="nav navbar-nav">#}
{#                <li class="active">#}
{#                    <a style="float: right">#}
{#                        <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Album#}
{#                    </a>#}
{#                </li>#}
{#                <li class="">#}
{#                    <a style="float: right; padding-top: 1%" >#}
{#                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Song#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{##}
{#        </div>#}
{#    </div>#}
{#</nav>#}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary navbar-icons" style="margin-bottom: 0%">
    <div class="container-fluid">
{#        logo#}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <a class="navbar-brand" style="color: white">Expand</a>
            </button>

        </div>
{#        Items#}
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                    <li class="nav-item pl-0">
                        <h4>
                            <a onmouseover="this.style.color='lightblue';" onmouseout="this.style.color='black';" class="nav-link" style="color:Black; margin-left: 10px" href="#">Home <span class="sr-only">(current)</span></a>
                        </h4>
                    </li>
                    <li class="nav-item">
                        <h4>
                                                    <a class="nav-link" style="color:Black;  margin-left: 10px" href="#services" onmouseover="this.style.color='lightblue';" onmouseout="this.style.color='black';">Services</a>

                        </h4>
                    </li>
                    <li class="nav-item">
                        <h4>
                                                    <a class="nav-link" style="color:Black; margin-left: 10px" href="#contact" onmouseover="this.style.color='lightblue';" onmouseout="this.style.color='black';">Contact us</a>

                        </h4>
                    </li>
                    <li class="nav-item">
                        <h4>
                                                    <a class="nav-link" style="color:Black; margin-left: 10px" href="#about" onmouseover="this.style.color='lightblue';" onmouseout="this.style.color='black';">About us</a>
                        </h4>
                    </li>
                <div class="dropdown" style="margin-top: 2%; margin-left: 10px">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Registrations
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/callcompanyregister">Company Registeration</a>
    <a class="dropdown-item" href="/registrationforuser">Registration For User</a>
  </div>
</div>
{#                    <li class="nav-item">#}
{#                        <h4>#}
{#                            <a class="nav-link" style="color:Black; margin-left: 200px" href="/companyregister/" onmouseover="this.style.color='red';" onmouseout="this.style.color='black';">Company Registration</a>#}
{#                        </h4>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <h4>#}
{#                            <a class="nav-link" style="color:Black" href="/registrationforuser/" onmouseover="this.style.color='red';" onmouseout="this.style.color='black';">User Registration</a>#}
{#                        </h4>#}
{#                    </li>#}


                <!-- <li class="nav-item">
        <a class="nav-link disabled" style="color:blue" href="#">Disabled</a>
      </li> -->
            </ul>
                    <span class="mr-auto"></span>

                <a aria-expanded="false" style="margin-left: 40%" class="bttttn btn btn-primary" href="/login/">Login </a>
{#                <a class="bttttn btn btn-outline-primary" href="/companyregister/">Company</a>#}
                <form action="/signout">
                    {%  csrf_token %}
                    <div class="form-group">
                        <input style="width: 8% ;margin-left: 90%; margin-top: -55px" type="submit" value="Signout" class="button btn btn-primary btn-block">
                    </div>
                </form>

        </div>
    </div>
</nav>
{#<nav class="navbar navbar-expand-lg navbar-light bg-secondary" style="margin-bottom: 0px">#}
{#                                <div class="container">#}
{# <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="main_nav" aria-controls="main_nav" aria-expanded="true" aria-label="Toggle navigation">#}
{#                        <span class="navbar-toggle-icon"></span>#}
{#                      </button>#}
{#            <div class="collapse navbar-collapse" id="main_nav">#}
{#                <ul class="nav navbar-nav">#}
{#                    <li class="nav-item pl-0">#}
{#                        <h4>#}
{#                            <a onmouseover="this.style.color='red';" onmouseout="this.style.color='black';" class="nav-link" style="color:Black;" href="#">Home <span class="sr-only">(current)</span></a>#}
{#                        </h4>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <h4>#}
{#                                                    <a class="nav-link" style="color:Black;  margin-left: 10px" href="#services" onmouseover="this.style.color='red';" onmouseout="this.style.color='black';">Services</a>#}
{##}
{#                        </h4>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <h4>#}
{#                                                    <a class="nav-link" style="color:Black; margin-left: 10px" href="#contact" onmouseover="this.style.color='red';" onmouseout="this.style.color='black';">Contact us</a>#}
{##}
{#                        </h4>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <h4>#}
{#                                                    <a class="nav-link" style="color:Black; margin-left: 10px" href="#about" onmouseover="this.style.color='red';" onmouseout="this.style.color='black';">About us</a>#}
{#                        </h4>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <h4>#}
{#                            <a class="nav-link" style="color:Black; margin-left: 200px" href="/companyregister/" onmouseover="this.style.color='red';" onmouseout="this.style.color='black';">Company Registration</a>#}
{#                        </h4>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <h4>#}
{#                            <a class="nav-link" style="color:Black" href="/registrationforuser/" onmouseover="this.style.color='red';" onmouseout="this.style.color='black';">User Registration</a>#}
{#                        </h4>#}
{#                    </li>#}
{##}
{##}
{#                <!-- <li class="nav-item">#}
{#        <a class="nav-link disabled" style="color:blue" href="#">Disabled</a>#}
{#      </li> -->#}
{#            </ul>#}
{#                    <span class="mr-auto"></span>#}
{##}
{#                <a style="margin-left: 50%" class="bttttn btn btn-primary" href="/login/">Login </a>#}
{#                <a class="bttttn btn btn-outline-primary" href="/companyregister/">Company</a>#}
{#                <form action="/signout">#}
{#                    {%  csrf_token %}#}
{#                    <div class="form-group">#}
{#                        <input style="width: 8% ;margin-left: 90%; margin-top: -55px" type="submit" value="Signout" class="button btn btn-primary btn-block">#}
{#                    </div>#}
{#                </form>#}
{##}
{#            <!-- <form class="form-inline my-2 my-lg-0">#}
{#      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#    </form> -->#}
{#        </div>#}
{#                                </div>#}
{#    </nav>#}
    <!-- <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>-->
{#    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'slide'">#}
{#        <mdb-carousel-item>#}
{#            <img class="d-block w-100" height="500px" src="assets/image/img3.jpg" alt="First slide">#}
{#        </mdb-carousel-item>#}
{#        <mdb-carousel-item>#}
{#            <img class="d-block w-100" height="500px" src="assets/image/img2.jpg" alt="Second slide">#}
{#        </mdb-carousel-item>#}
{#        <mdb-carousel-item>#}
{#            <img class="d-block w-100" height="500px" src="assets/image/img6.jpg" alt="Third slide">#}
{#        </mdb-carousel-item>#}
{#    </mdb-carousel>#}














          <div  class="col-md-11" style="margin-left: 4%">
              <div id="ch" class="home-wrap">
                  <div id="home-slick">
                      <div class="banner banner-1">
                          <img src="{% static 'images/bus (3).jpg' %}" alt="">
{#                          <div class="banner-caption">#}
{#                              <h1 class="white-color">New Product <span>Collection</span></h1>#}
{#                              <button class="primary-btn">Shop Now</button>#}
{#                          </div>#}
                      </div>
                      <div class="banner banner-1">
                          <img src="{% static 'images/in.jpg' %}" alt="">
{#                          <div class="banner-caption">#}
{#                              <h1 class="white-color">New Product <span>Collection</span></h1>#}
{#                              <button class="primary-btn">Shop Now</button>#}
{#                          </div>#}
                      </div>
                      <div class="banner banner-1">
                          <img src="{% static 'images/bus2.jpg' %}" alt="">
{#                          <div class="banner-caption">#}
{#                              <h1 class="white-color">New Product <span>Collection</span></h1>#}
{#                              <button class="primary-btn">Shop Now</button>#}
{#                          </div>#}
                      </div>
                      <div class="banner banner-1">
                          <img src="{% static 'images/bus1.jpg' %}" alt="">
{#                          <div class="banner-caption">#}
{#                              <h1 class="white-color">New Product <span>Collection</span></h1>#}
{#                              <button class="primary-btn">Shop Now</button>#}
{#                          </div>#}
                      </div>
                      <div class="banner banner-1">
                          <img src="{% static 'images/inn.jpg' %}" alt="">
{#                          <div class="banner-caption">#}
{#                              <h1 class="white-color">New Product <span>Collection</span></h1>#}
{#                              <button class="primary-btn">Shop Now</button>#}
{#                          </div>#}
                      </div>
                      <div class="banner banner-1">
                          <img src="{% static 'images/bus3.jpg' %}" alt="">
{#                          <div class="banner-caption">#}
{#                              <h1 class="white-color">New Product <span>Collection</span></h1>#}
{#                              <button class="primary-btn">Shop Now</button>#}
{#                          </div>#}
                      </div>
                      <div class="banner banner-1">
                          <img src="{% static 'images/asd.jpg' %}" alt="">
{#                          <div class="banner-caption">#}
{#                              <h1 class="white-color">New Product <span>Collection</span></h1>#}
{#                              <button class="primary-btn">Shop Now</button>#}
{#                          </div>#}
                      </div>
                  </div>
              </div>
          </div>


    <div id="about">
        <div class="about">
        <h1 style="text-align:center;">About Us</h1>
            </div>
        <div class="container-fluid">
            <div class="row">
                <div class="cell-sm-9 cell-md-5" width="720px" height="459px">
                    <img src="{% static 'images/about.png' %}" alt="">
                </div>
                <div class="col-md-6">
                    <p class="text-spacing-sm">It is the only transport company to have a nationwide network with various international trade links. Being a transport service provider the company owns a large fleet of buses, Technically Advanced Workshops to maintain the fleet for the safety of the passengers, State of the Art Terminals, Training Institutes for Drivers and Mechanical Staff.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="services">
        <h1 style="text-align:center" class="services">Services</h1>
        <h2><p>We are Servicing in different area(within Pakistan)</p></h2>
        <ul>
            <li>
                Dera Ismail Khan
            </li>

            <li>
                RawalPindi
            </li>

            <li>
                Islamabad
            </li>

            <li>
                Gilgit
            </li>

            <li>
                Queta
            </li>

            <li>
                Lahore
            </li>

            <li>
                Peshawar
            </li>
        </ul>
        <!-- <marquee direction="left" scrollamount="10"
behavior="altenate" scrolldelay="50"
loop="" bgcolor="red" width="50%" height="150px"
onmouseover="this.stop()"
onmouseout="this.start()" >This is Marquee tag with attribut</marquee> -->
    </div>
    <div id="contact">
        <h1 style="text-align:center; background-image: linear-gradient(#a1ffce, #faffd1);" class="Contact">Contact Us</h1>
        <h4>You can contact us any way that is convenient for you. We are available 24/7 via fax or
           email. You can visit our office personally.</h4>
        <h5>UAN: 111-111-111 03333-007-008</h5>
    </div>
    <!-- <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form> -->


    <!-- For Slider Picture -->
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>





</body>

</html>